<main id="main">
    <div class="article-wrap">
      <div class="row container">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
          <%- partial('_partial/404/layout') %>
        </div>
        <div class="col-xl-2"></div>
      </div>
    </div>
  </main>