<article class="article">
  <div class="wrap">
    <section class="head">
      <%- image_tag(post_image(page.image), { draggable: "false" }) %>
    </section>
    <section class="main">
      <section class="content">
        <% if (theme.excerpt.enable && page.excerpt) { %>
          <p><%- page.excerpt %></p>
        <% } %>
        <%- page.more %>
      </section>
      <section class="extra">
        <%- partial('_partial/post/donate') %>
      </section>
    </section>
  </div>
</article>