<article class="article">
    <div class="wrap">
      <section class="head-title">
        <div class="head-mask">
            <h1 class="head-title"/>
            <div class="head-info" />
        </div>
      </section>
      <section class="main">
        <section class="content">
          <%- partial('_partial/404/content') %>
        </section>
        <section class="extra">
          <%- partial('_partial/post/donate') %>
        </section>
      </section>
    </div>
  </article>