
  <div class="wrap">
    <section class="head-title">
      <div class="head-mask">
          <h1 class="head-title"/>
          <div class="head-info" />
      </div>
    </section>
    <section class="main">
      <section class="content">
        <%- partial('_partial/wishes/content') %>
      </section>
    </section>
  </div>